%h1.font-bold.text-2xl
  You have registered for the following events: 

%p.m-4
  - @attended_events.future.each do |event|
    %p  
      Event name: #{event.title}
    %p  
      Event date: #{event.date}
    %p  
      Event location: #{event.location}
    %p  
      Created by: #{event.creator.email}
    %br

%p  
  - current_user.created_events.future.each do |event|
    %p  
    Event name: #{event.title}
    %p  
      Event date: #{event.date}
    %p  
      Event location: #{event.location}
    %p  
      Created by: #{event.creator.email}
    %br
%h2 Past events you have attended: 

- @attended_events.past.each do |event|
  %p  
    Event name: #{event.title}
  %p  
    Event date: #{event.date}
  %p  
    Event location: #{event.location}
  %p  
    Created by: #{event.creator.email}
  %br

%p
  - current_user.created_events.past.each do |event|
    %p  
      Event name: #{event.title}
    %p  
      Event date: #{event.date}
    %p  
      Event location: #{event.location}
    %p  
      Created by: #{event.creator.email}
    %br