.grid.text-center.gap-4.p-2
  = form_with model: @event do |f|
    %p.text-black.m-4
      = f.text_field :title, placeholder: "Title"
    %p.text-black.m-4
      = f.text_area :description, placeholder: "Description"
    %p.text-black.m-4
      = f.text_field :location, placeholder: "Location"
    %p.text-black.m-4
      = f.date_field :date

    .bg-blue-500.m-2
      = f.button :submit 

  .m-4
    = link_to event_path(@event.id) do
      .bg-red-500.m-2
        Cancel 
    = link_to events_path do
      .bg-blue-500.m-2
        All event