.grid.text-center.gap-4.p-2
  = form_with model: @event, remote: false do |f|

    .text-black.m-4
      = f.text_field :title, placeholder: "Title"

    .text-black.m-4
      = f.text_area :description, placeholder: "Description"

    .text-black.m-4
      = f.text_field :location, placeholder: "Location"

    .text-black.m-4
      = f.date_field :date, placeholder: "Date"

    = f.submit "Create event"
