!!!
%html.bg-gray-700.text-white
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PrivateEvents
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    %div
      %nav.grid.grid-cols-8.bg-gray-800.p-4.font-bold
        = link_to root_path do
          %h2
            Private Events
        - unless controller_name == 'users' && action_name == 'show'
          = link_to "Back", :back
        - else 
          = link_to "User details", user_path(current_user.id)
        - if current_user
          .text-red-500
            = link_to "Sign Out", destroy_user_session_path, method: :delete
        - if current_user.nil?
          = link_to "Sign In", new_user_session_path
          = link_to  "Sign Up", new_user_registration_path


    = yield
